@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    
	font: inherit;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #025B6F;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3{
    font-weight: bold;
    color: #fff;
   
    margin: 2rem 0;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 22px;
}

/* =================================================================navigation ================================================================= */


nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-color: #683838;
    padding: 1rem 0;
}

nav ul li a{
    padding: 1rem 0;
    color: aliceblue;
}




/* ================================================================= Container ================================================================= */

.container{
    
    min-height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/* =================================================================footer ================================================================= */

footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-color: #683838;
    padding: 1rem 0;
    color: #fff;
}


/* ================================================================= Tableau ================================================================= */
table{
    margin: 2rem 0;
    width: 100%;
}

tr{
    border-bottom: 1px solid white;
    color: #fff;
}


tr:nth-child(odd){
    background-color: #683838;
}

tr:nth-child(even){
    background-color: #8c5151;
}

th{
    background-color: #8c5151;
    padding: 1rem;
}

td{
    padding: 1rem;
    text-align: center;
}

.border-none{
    border: none;
}

.border-module{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

/* ================================================================= BOUTON =================================================================*/

.btn{
    cursor: pointer;
    background: #7B0D2E;
    padding: .55rem .75rem;
    transition: .35s;
    color: #fff;
}

.btn:hover{
    background: #b62551;
}

.btn2{
   
    background: #7B0D2E;
    padding: .55rem .75rem;
    transition: .35s;
    color: #fff;
}

/* ================================================================= PROFILES ================================================================= */

.profil{
    background-color: #8c5151;
    padding: 1rem;
    color: #fff;
}

.grid-admin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.grid-admin li{
    background-color: #683838;
    padding: 6rem;
}

.grid-admin li a{
    font-size: 25px;
    font-weight: bold;
    transition: .35s;
}

.grid-admin li a:hover{

    color: #025B6F;
}

/*  ================================================================= SESSIONS =================================================================*/

.container-session{
    background-color: #8c5151;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
    width: 100%;
}


.container-stagiaire{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-programme{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.input-number{
    max-width: 30px;
}

/*  ================================================================= form =================================================================*/

form{
    padding: 1rem;
    background-color: #8c5151;
    color: #fff;
}

form *{

    padding: .35rem;
}

form div{
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
    background: #7B0D2E;
    padding: .55rem .75rem;
    transition: .35s;
    color: #fff;
}

.block{
    display: block;
}

.dsp-form{
    padding: 0;
    background: none;
}