{% extends 'base.html.twig' %}

{% block title %}Créer une session{% endblock %}

{% block body %}
{% if edit %}
    <h1>Modifier une session</h1>
    {% else %}
    <h1>Créer une session</h1>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
            
    {{ form(formAddSession)}}

{% else %}

    <p>Vous n'avez pas les droits pour accéder à cette page.</p>

{% endif %}




{% endblock %}
