{% extends 'base.html.twig' %}

{% block title %}Liste formateurs{% endblock %}

{% block body %}

<h1>Liste des catégories</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('add_categorie')}}">Ajouter une catégorie</a>    
{% endif %}

<table>
    <thead>
        <tr>
            <th >Nom de la catégorie</th>
         
            {% if is_granted('ROLE_ADMIN') %}
                <th>Editer</th>   
                <th>Supprimer</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% for categorie in categories %}
            <tr>
                <td><a href="">{{ categorie.nomCategorie }}</a></td>
               
                {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{path('edit_categorie', {'id': categorie.id })}}">modifier</a></td> 
                <td><a href="{{path('delete_categorie', {'id': categorie.id })}}">supprimer</a></td>  
                {% endif %}
                
            </tr>
            {% endfor %}


            
      
    </tbody>
</table>
{% endblock %}
