{% extends 'base.html.twig' %}

{% block title %}Fiche détaillé formateur{% endblock %}

{% block body %}
<h1>{{ formateur }}</h1>


<p>Email : {{ formateur.emailformateur}}</p>

<h2>Sessions :</h2>


{% endblock %}
